body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1048;
  height: 400;
  background-image:"https://www.classicdriver.com/sites/default/files/styles/full_width_slider/public/article_images/dorotheum_shelby_cobra_01.jpg?itok=l0BR-7hM";
  background-size: cover;
  background-position: fluid; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

